<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
   "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>Calendrier</title>
</head>
<body>

<h1 align="center"><b>Ins&eacute;rez un titre ici</b></h1>

<p align="center"><b>Mois et ann&eacute;e</b></p>

<p align="center">Tapez votre texte ici.</p>

<p align="center"></p>

<center>

<table border="1" cellspacing="1" cellpadding="4" width="672">
<tbody>
<tr>
<td width="14%" valign="top" height="18">
<p align="center">Dimanche</p>
</td>
<td width="14%" valign="top" height="18">
<p align="center">Lundi</p>
</td>
<td width="14%" valign="top" height="18">
<p align="center">Mardi</p>
</td>
<td width="14%" valign="top" height="18">
<p align="center">Mercredi</p>
</td>
<td width="14%" valign="top" height="18">
<p align="center">Jeudi</p>
</td>
<td width="14%" valign="top" height="18">
<p align="center">Vendredi</p>
</td>
<td width="14%" valign="top" height="18">
<p align="center">Samedi</p>
</td>
</tr>
<tr>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
</tr>
<tr>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
</tr>
<tr>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
</tr>
<tr>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
</tr>
<tr>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
<td width="14%" valign="top" height="64">
<p></p>
</td>
</tr>
</tbody>
</table>
</center>

<p align="center">Tapez votre texte ici.</p>

<p align="center"></p>

<p align="center"><b><a href="entrez ici l'url de la page liée 1">[Page
li&eacute;e 1]</a> | <a href="Entrez ici l'url de la page liée 2">[Page
li&eacute;e 2]</a> | <a href="XX">[Page li&eacute;e 3]</a></b></p>

<p>&nbsp;</p>
</body>
</html>
