<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
                      "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title>Calendar</title>
</head>

<body>
<h1 align="center"><b>Insert a title here</b></h1>

<p align="center"><b>Month and year</b></p>

<p align="center">Insert your text here.</p>

<p align="center"></p>

<center>

<table border="1" cellspacing="1" cellpadding="4" width="672">
  <tbody>
    <tr>
      <td width="14%" valign="top" height="18"><p align="center">Sunday</p>
      </td>
      <td width="14%" valign="top" height="18"><p align="center">Monday</p>
      </td>
      <td width="14%" valign="top" height="18"><p align="center">Tuesday</p>
      </td>
      <td width="14%" valign="top" height="18"><p align="center">Wednesday</p>
      </td>
      <td width="14%" valign="top" height="18"><p align="center">Thursday</p>
      </td>
      <td width="14%" valign="top" height="18"><p align="center">Friday</p>
      </td>
      <td width="14%" valign="top" height="18"><p align="center">Saturday</p>
      </td>
    </tr>
    <tr>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
    </tr>
    <tr>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
    </tr>
    <tr>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
    </tr>
    <tr>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
    </tr>
    <tr>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
      <td width="14%" valign="top" height="64"><p></p>
      </td>
    </tr>
  </tbody>
</table>
</center>

<p align="center">Insert your text here.</p>

<p align="center"></p>

<p align="center"><b><a href="entrez ici l'url de la page liée 1">[Linked page
1]</a> | <a href="Entrez ici l'url de la page liée 2">[Linked page 2]</a> | <a
href="XX">[Linked page 3]</a></b></p>

<p>&nbsp;</p>
</body>
</html>
