<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
                      "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <meta name="RCS-Id" content="$Id: NOTE-SYMM-modules-19990223.html,v 1.2     
         1999/02/23 19:58:44 renaudb Exp $">
  <meta content="text/xhtml; charset=iso-8859-1" http-equiv="Content-Type">
  <title>Enter here the title of the recommendation</title>
  <link rel="stylesheet" type="text/css" media="screen" href="http://www.w3.org/StyleSheets/TR/W3C-REC.css">
</head>

<body>

<div class="head">
<a href="http://www.w3.org/"><img height="48" width="72" src="http://www.w3.org/w3c_home.gif"
alt="W3C">
</a>

<h1>Enter here the recommendation's title<br>
</h1>

<h2>W3C Recommendation - Enter the date of the recommendation here</h2>

<table>
  <tbody>
    <tr valign="baseline">
      <td>This version:</td>
      <td>Enter a link here</td>
    </tr>
    <tr valign="baseline">
      <td>Latest version:</td>
      <td>Enter a link here</td>
    </tr>
    <tr valign="baseline">
      <td>Editors:</td>
      <td><span class="author"><span class="name">Enter the name of one of the
        editors here</span> <i>(Enter the editor's E-mail)</i></span><br>
        <span class="author"><span class="name">Enter the name of one of the
        editors here <em>(Enter the editor's E-mail)</em></span></span><br>
      </td>
    </tr>
  </tbody>
</table>

<p class="copyright"><a
href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a>
&copy; 1999 <a href="http://www.w3.org/">W3C</a> (<a
href="http://www.lcs.mit.edu/">MIT</a>, <a
href="http://www.inria.fr/">INRIA</a>, <a
href="http://www.keio.ac.jp/">Keio</a>), All Rights Reserved. W3C <a
href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>,
<a
href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a>,
<a href="http://www.w3.org/Consortium/Legal/copyright-documents">document
use</a> and <a
href="http://www.w3.org/Consortium/Legal/copyright-software">software
licensing</a> rules apply.</p>
</div>

<p></p>
<hr title="Separator from Header">


<h2>Status of this document</h2>

<p>Enter the document's status here.</p>

<p>This document has been reviewed by W3C members and other interested parties
and has been endorsed by the Director as a W3C Recommendation. It is a stable
document and may be used as reference material or cited as a normative
reference from another document. W3C's role in making the Recommendation is to
draw attention to the specification and to promote its widespread deployment. 
This enhances the functionality and interoperability of the Web.</p>

<p>A list of current W3C Recommendations and other technical documents can be
found at <a
href="http://www.w3.org/pub/WWW/TR/">http://www.w3.org/pub/WWW/TR/</a>.</p>

<h2>Table of Contents</h2>
<dl>
    <dd><a href="#Abstract">Abstract</a></dd>
    <dd><a href="#Introduction">1. Introduction</a></dd>
    <dd><a href="#SymmModules">2. Enter the first part here</a></dd>
    <dd><a href="#ModuleIntegration">3. Enter the second part here</a></dd>
    <dd><a href="#Profiles">4. Enter the third part here</a></dd>
    <dd><a href="#Issues">5. Issues</a></dd>
    <dd><a href="#refs">References</a></dd>
</dl>

<h2><a name="Abstract">Abstract</a></h2>

<p><i>Enter the abstract here.</i></p>

<h2><a name="Introduction">1. Introduction</a></h2>

<p>Type the introduction here.</p>

<p></p>

<h2><a name="SymmModules">2. First part</a></h2>

<p>Type the first part introduction here.</p>

<h3>2.1. Subpart</h3>

<p>Type the subpart here.</p>

<h3>2.2. Subpart</h3>

<p>Type the subpart here.</p>

<p></p>

<h2><a name="ModuleIntegration">3. Second part</a></h2>

<p>Type the second part introduction here.</p>

<h3>3.1. Subpart</h3>

<p>Type the subpart here.</p>

<h3>3.2. Subpart</h3>

<p>Type the subpart here.</p>

<p></p>

<h2><a name="Profiles">4. Third part</a></h2>

<p>Type the third part introduction here.</p>

<h3>4.1. Subpart</h3>

<p>Type the subpart here.</p>

<h3>4.2. Subpart</h3>

<p>Type the subpart here.</p>

<p></p>

<h2><a name="Issues">5. Issues</a></h2>

<p>Type the issues here</p>

<p></p>
<hr>


<h2><a name="refs">References</a></h2>
<dl>
  <dt><a href="http://toocan.philabs.research.philips.com/misc/atsc/bhtml/"
  name="ref-BHTML">Enter a term here</a></dt>
    <dd>Type the explaination here</dd>
  <dt><a href="http://toocan.philabs.research.philips.com/misc/atsc/bhtml/"
  name="ref-BHTML1">Enter a term here</a></dt>
    <dd>Type the explaination here</dd>
  <dt><a href="http://toocan.philabs.research.philips.com/misc/atsc/bhtml/"
  name="ref-BHTML2">Enter a term here</a></dt>
    <dd>Type the explaination here</dd>
  <dt></dt>
  <dt></dt>
  <dt></dt>
</dl>
</body>
</html>
