BODY {
  margin: 2em 1em 2em 70px;
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

TH, TD { /* ns 4 */
  font-family: Arial, sans-serif;
}

H1, H2, H3 {
  text-align: left;
  font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
  font-weight: normal;
  color: #0050B2; 
}

.hide { display: none }

DIV.head { margin-bottom: 1em }
DIV.head H1 { margin-top: 2em; clear: both }
DIV.head TABLE { margin-left: 2em; margin-top: 2em }
DIV.head IMG { color: white; border: none } /* remove border from top image */

P.copyright { font-size: smaller }

@media screen {  /* hide from IE3 */
A:hover { background: #FFA } 
}

PRE { margin-left: 2em }
/*
P {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
*/
DT, DD { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
DT { font-weight: bold }

PRE { font-family: monospace }        /* navigator 4 requires this */

UL.toc { list-style: none }

@media aural {  
  H1, H2, H3 { stress: 20; richness: 90 }
  .hide { speak: none }
  P.copyright { volume: x-soft; speech-rate: x-fast }
  DT { pause-before: 20% }
  PRE { speak-punctuation: code } 
}



BODY {
  background-image: url(http://www.w3.org/StyleSheets/TR/NOTE.gif);
}
