/* This CSS style sheet defines the style of XHTML documents structured
   according the XTiger template ACM-Proc-Article.xsd */

    body {counter-reset: sect1 sect2 sect3 sect4}
    p.conferenceinfo {font-size: smaller}
    h1 {text-align: center; font-size: 130%; font-family: sans-serif}
    p.heading {font-size: 120%; font-weight: bold}
    h2 {font-size: 120%; font-weight: bold;
        counter-reset: sect2 sect3 sect4}
    h2:before { content: counter(sect1) ". ";
                counter-increment: sect1;}
    h3 {font-size: 100%; counter-reset: sect3 sect4}
    h3:before { content: counter(sect1) "." counter(sect2) ". ";
                counter-increment: sect2;}
    h4 {font-size: 100%; counter-reset: sect4}
    h4:before { content: counter(sect1) "." counter(sect2) "."
                         counter(sect3) ". ";
                counter-increment: sect3;}
    h5 {font-size: 100%}
    h5:before { content: counter(sect1) "." counter(sect2) "."
                         counter(sect3) "." counter(sect4) ". ";
                counter-increment: sect4;}
    div.authors {font-family: sans-serif}
    /* width: 33% for 3 authors -- Change according to the number of authors */
    p.author {text-align: center; width: 33%; float: left}
    p.author span.name {font-size: 110%}
    p.author span.email {font-size: 110%}
    div.body {clear: both}
    span.catnamelevel1and2 {font-weight: bold}
    span.catlevel4 {font-style: italic}
    div.example {margin-left: 1.2em}
    div.example pre {margin-bottom: 0.4em}
    div.example p {margin-top:0; font-weight:bold}
    div.figure, div.topfigure {text-align: center}
    div.figure p, div.topfigure p {margin-top:0; font-weight:bold; text-align: center}
    div.figure pre, div.topfigure pre {text-align: left}

    /* bibliography */
    a.bibref:after {content: "[*]"}
    div.bibliography {margin-left: 1.6em}
    div.bibliography h2 {text-indent: -1.6em}
    div.bibliography p {text-indent: -1.6em}
    div.references span.title {font-style: italic}

  /* page layout and style for printing */
  @media print {
    html {margin: 0; padding: 0}
    body {font: 9pt serif}
    .noprint {display: none}
    h1 {font-size: 190%}
    h2 {font-size: 130%; margin-bottom: .2em; margin-top: .6em}
    h3 {font-size: 120%; margin-bottom: .2em; margin-top: .6em}
    p.author { padding-bottom: 1cm}
    div.authors {font-size: 120%}
    a[href] {text-decoration: none; color: inherit}
    a.bibref:after {content: target-content(attr(href))}
    p, li, dd {text-align: justify}
    p {margin-bottom: .5em; margin-top: .5em}
    ul, ol {margin-left: 2em}
    pre, tt, code {font-size: 85%;
                   font-family: "Bitstream Vera Sans Mono",
                                "Lucida Console", monospace}
    pre {line-height: 1.3}
    div.example {margin-left: 0; margin-top: .9em}
    div.example p {text-align: center; padding-bottom: .8em}
    div.figure {padding-top: 1em}
    div.topfigure img {width: 100%}
    .bibliography p {text-align: left}
    div.body {column-count: 2; column-gap: 8.5mm; hyphenate: auto}
    @page {
      margin: 17mm;
      padding: 16mm 0 5mm;
      size: a4;
      font: 9pt serif;
      @bottom-center {
        font: 9pt serif;
        content: counter(page);
        vertical-align: top;
        margin: 0.3em 0;
        }
      }
    }
