body
{ 
  color: #594FBF;
  background: #DDDDDD;
 }


/************** En tête ***************/

.info 
{ 
  text-align:center;
  }

.name
{ 
  font-family: Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 140%;
  }

.address
{ 
  float:right;
  text-align:right
  }

/***************** Corps *****************/
.body
{ 
  float: right;
  width: 80%;
  }

.field
{ 
  border-style: solid;
  border-color: #594FBF;
  padding: 10px;
  margin: 10px;
  background-color: #BBBBBB;
  }

.label
{ 
  font-weight: bold;
  display:block;
  }

.comment:after
{ 
  content: ", "
  }

.location:after
{ 
  content: ". "
  }


/***************** Menu ******************/
.menu 
{ 
  clear: both;
  float: left;
  margin-top: 10px;
  text-align: left;
  background-color: #BBBBBB;
  font-size: 120%;
  border-style:solid;
  border-color: #594FBF;
  padding: 2px;
  width: 19%;
  }

.entry
{ 
  display: block;
 }

/**************** Pied de page **********/

.footer
{ 
  clear:both;
}

h1 
{
  padding: 2px;
  border-style: solid;
  border-color: #353175;
  border-width: thin;
  font-size : 130%;
  font-family: Arial, Helvetica, sans-serif;
  }

h2
{ 
  padding-left: 17px;
  font-size : 120%;
  font-family: Arial, Helvetica, sans-serif;
 }

p { margin-left: 4% }

dt { margin-left: 0px }
dd { margin-left: 30px}

img
{ 
  border: none;
  }
