<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus AmayaTemplate 0.1  //FR"
       "amt.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:t="http://www.w3.org/Amaya/template" xml:lang="fr-FR">
<head>
  <title>CV</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="CV" />
  <meta name="keywords" content="mot-clef" />
  <meta name="template_id" content="amaya-cv-fr-0.1" />
  <link rel="stylesheet" type="text/css" href="cv2.css" />
</head>

<body>
<t:free_struct xml:id="etatcivil">
  <p class="etatcivil"><strong class="nom">Name </strong><br />
  <span class="datenaissance">Date of birth : ../../..</span></p>
</t:free_struct>
<address class="adresse">
  <t:free_struct xml:id="address">
    Address's body<br />
    Tel : numero<br />
    <a class="email" href="mailto:email@serveur">e-mail :
  email@server</a></t:free_struct>
</address>

<div title="Menu" class="menu">
  <a class="entree" href="#objectifs">Objectives</a> <a class="entree"
  href="#formation">Education and training</a> <a class="entree"
  href="#experience">Employment and placements</a> <a class="entree"
  href="#langues">Languages</a> <a class="entree"
  href="#compétences">Skills</a> <a class="entree"
  href="#divers">Interests</a></div>

<div class="corps">

<div class="rubrique">
<h1 id="objectifs">Objectives</h1>
<t:free_struct xml:id="objectifs">
  <p>Objectives description.</p>
</t:free_struct>
</div>

<div class="rubrique">
<h1 id="formation">Education and training</h1>
  <t:free_struct xml:id="formation">
  <dl>
      <dt class="date">2004 - 2005</dt>
        <dd class="contenu"><strong class="libelle">Activity
          description</strong><span class="commentaire">Comments</span><span
          class="lieu">Place..</span></dd>
  </dl>
  </t:free_struct>
</div>

<div class="rubrique">
<h1 id="experience">Employment and placements</h1>
  <t:free_struct xml:id="formation">
  <dl>
    <dt class="date">June-July 2004</dt>
      <dd class="contenu"><strong class="libelle">Description</strong><span
        class="lieu">Location</span><a href="http://url">Associated
      URL</a></dd>
  </dl>
  </t:free_struct>
</div>

<div class="rubrique">
<h1 id="langues">Languages</h1>
  <t:free_struct xml:id="langues">
  <dl>
    <dt>English</dt>
      <dd>Level's description</dd>
  </dl>
  </t:free_struct>
</div>

<div class="rubrique">
<t:free_struct xml:id="titre_competences">
  <h1 id="Compétences">Skills</h1>
</t:free_struct>
<t:free_struct xml:id="corps_competences">
  <p>Description of knowlegdes</p>
</t:free_struct>
</div>

<div class="rubrique">
<h1 id="divers">Interests</h1>
<t:free_struct xml:id="divers">
  <p>Other informations</p>
</t:free_struct>
</div>
</div>
<!-- Fin du Corps -->

<div class="footer">
<hr />

<p><a href="http://validator.w3.org/"><img
src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!"
height="31" width="88" /></a> <a href="http://www.w3.org/Amaya"><img
src="http://www.w3.org/Amaya/Icons/w3c-amaya.gif" alt="W3C-Amaya" height="31"
width="88" /></a></p>
<address>
  <!--$date=-->16-09-2005 - 10:49<!--$-->

</address>
</div>
</body>
</html>
