body
  {
  color:black;
  background-color: #eee;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12pt;
  }

.category
  {
  width:600px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  margin-top:20px;
  padding:0;
  border:0;
  }

table, td, th
  {
  border: solid 1px #555;
  border-collapse: collapse;
  }

td
  {
  vertical-align: middle;
  padding: 5px;
  }

caption
  {
  width:200px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  margin-top:5px;
  padding:5px;
  border: solid 3px blue;
  color: #a00;
  background-color: #afa;
  font-size: 150%;
  }

.image
  {
  width:50px;
  }

.image img
   {
   width: 50px;
   height: 50px;
   border:0;
   }

.title
  {
  width:150px;
  color: #00b;
  background-color: #eee;
  font-weight: bold;
  text-align:center;
  }

.description
  {
  color: #b05;
  background-color: #eee;
  }
