body{background-color: rgb(249, 247, 244);}
caption{ color: #aa0000; font-family: helvetica; font-weight: bold; text-decoration:underline;}
.titre-graph { color: #0000B2; font-family: helvetica; font-weight: bold; vertical-align: middle; }
.commentaire {font-size: 12pt; font-weight: normal; color: #B2005A; vertical-align: middle; }
.url { font-size: 12pt; font-weight: normal; font-family: helvetica; color: #B200B2; vertical-align: middle;}
.image { width : 50px; height : 50px}
