BODY {
  margin-left: 2%;
  margin-right: 2%;
  color: black;
  background: #EEEFF5;
  font-size: 13px;
  font-family:  Verdana, Arial, Helvetica, sans-serif;
}

H1 {
  text-align: center; 
  color: white;
  background: #000099;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

H2 {
 color: #000099 ;
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 14px;
 font-weight: normal;
}

H3 {
 color: black;
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 13px; 
 font-weight: bold;
}


