/*
 * User's Preferences
 */

H1 {  font-family: helvetica; color: red }
H2 {  font-family: helvetica; }
H3 {  font-family: helvetica; }
H4 {  font-family: helvetica; }
H5 {  font-family: helvetica; }
H6 {  font-family: helvetica; }

