/*
 * CSS 1.0 Style Sheet produced by Amaya
 * 
 * User's Preferences
 *
 * URL : /users/veillard/.amaya.css
 * Last updated 06/25/96 17:10:50 by veillard on praslin
 */

BLOCKQUOTE P { text-indent : 0pt; line-height : 16pt; text-align: justify }
LI P { text-indent : 0pt; line-height : 16pt; text-align: justify }
P { text-indent : 15pt; line-height : 16pt; text-align: justify }
UL P { text-indent : 0pt; line-height : 16pt; text-align: justify }
DD P { text-indent : 0pt; line-height : 16pt; text-align: justify }
BODY { magnification : 1 } 

/* CSS end */
