/*
 * CSS 1.0 Style Sheet produced by Amaya
 * 
 * URL : http://opera.inrialpes.fr/Amaya/daniel.css
 * Last updated 07/03/96 15:19:48 by veillard on praslin
 */

DD P { text-indent : 0pt; line-height : 16pt; text-align: justify }
UL P { text-indent : 0pt; line-height : 16pt; text-align: justify }
P { text-indent : 15pt; line-height : 16pt; text-align: justify }
LI P { text-indent : 0pt; line-height : 16pt; text-align: justify }
BLOCKQUOTE P { text-indent : 0pt; line-height : 16pt; text-align: justify }
BODY { magnification : 1; background : #FFFFFF }

/* CSS end */
