body       {  background: #fffbf0; color: #000
           }
caption    {  font-family: helvetica;
            font-size: 18;
            font-weight: Bold;
            text-align: left
           }
tr.title   {  background-color: #FFE9C1
           }
tr.fixed   {  background-color: #aaffaa
           }
tr.done    {  background-color: #aaffaa
           }
th         { width: 80px;
           }
th.summary { width: 450px;
           }
td.categ   { width: 200px;
           }
h1         { font-size: 14;
             text-align: center
           }
p.date     { font-size: 14;
             text-align: center
           }
H2         {  font-size: 12;
           }
