
#font script 1-17 iso, then unicode,symbol,stix...;
#1 = serif;normale face;bold face;italic face  
#2 = sans-serif;normale face;bold face;italic face  
#3 = monospace;normale face;bold face;italic face  
#4 = cursive;normale face;bold face;italic face  
#5 = fantasy;normale face;bold face;italic face  


Arabic
Armenian
Basic Latin
Bengali
CJK symbols and Punctuation
Cherokee
Chinese simplified
Chinese traditionnal
Currency symbols
Cyrillic
Devanagari
Ethiopic
General Punctiation
Georgian
Greek
Greek Extended
Gujarati
Gurmikhi
Halfwidth and Fullwidth Forms
Hangul
Hebrew
Hiragana
Kanji
Kannada
Katakana
Khmer
Lao
Latin Extended Additional
Latin Extended-A
Latin Extended-B
Latin-1 Supplement
MalayalamMongolian
Myanmar
Number Forms
Ogham
Oriya
Runic
Sinhala
Syriac
Tamil
Telugu
Thaana
Thai
Tibetan
Unified Canadian Aboriginal Syllabic


Western 
Central european
Japanese
Traditionnl Chinese
Simplified Chinese
Korean
Cyrillic
Baltic
Greek
Turkish
Unicode
Thai
Hebrew
Arabic

