[thot_lib]
THOTSYSSCH=$(THOTDIR)/amaya:$(THOTDIR)/annotlib
THOTFONT=$(THOTDIR)/fonts
THOTCONFIG=
DICOPAR=$(THOTDIR)/dicopar
THOTDOC=$(THOTDIR)/doc
; THOTPRINT=lp -c -dprintername -nnbex -trealname
; THOTPRINT=lpr -Pprintername -#nbex -Trealname
THOTPRINT=lpr -l
ENABLE_GRAPH_ANTI_ALIASING=yes

[amaya]
HOME_PAGE=
ENABLE_CACHE=Yes
THOTSYSSCH=$(THOTDIR)/amaya:$(THOTDIR)/annotlib
#TEMPLATE_URL=$(THOTDIR)/templates
LANG=en
# AMAYA_PLUGIN_DIR=$(THOTDIR)/plugintest/$(MACHINE)
# URL of your HTTP proxy server  (server.address:port :port is optional)
# ex: HTTP_PROXY=http://www.imag.fr:3128
HTTP_PROXY=
# NO_PROXY: domain address which shouldn't be proxyfied 
# ex: NO_PROXY=harpo.marx.edu)
NO_PROXY=
ENABLE_LOST_UPDATE_CHECK=Yes
PERSIST_CX_TIMEOUT=600
SAFE_PUT_REDIRECT=
Profiles_File=amaya.profiles
Profile=Editor
ACCESSKEY_MOD=Alt
SHOW_ADDRESS=Yes
SHOW_BUTTONS=Yes
SAVE_GEOMETRY=Yes
AUTO_SAVE=50
GTM_TIME=No
ISO_DATE=Yes
DOCUMENT_CHARSET=iso-8859-1
SHOW_SPECIAL_CHARS=yes
FONT_ALIASING=yes
BUF_SIZE_SOCKET=120

