[thot_lib]
THOTSYSSCH=$(THOTDIR)/schemas:$(THOTDIR)/amaya:$(THOTDIR)/annotlib
THOTFONT=$(THOTDIR)/fonts
THOTCONFIG=
DICOPAR=$(THOTDIR)/dicopar
THOTDOC=$(THOTDIR)/doc
; THOTPRINT=lp -c -dprintername -nnbex -trealname
; THOTPRINT=lpr -Pprintername -#nbex -Trealname
THOTPRINT=lpr
; CLASSPATH=.:$(THOTDIR)/classes:$(THOTDIR)/classes/Klasses.jar:$(THOTDIR)/classes/jigsaw.zip:$(THOTDIR)/classes/thotlib.zip:$(THOTDIR)/classes/amaya.zip:$(THOTDIR)/classes/pizza.jar
CLASSPATH=.:$(THOTDIR)/classes:$(THOTDIR)/classes/Klasses.jar:$(THOTDIR)/classes/pizza.jar
KAFFEHOME=$(THOTDIR)/classes
JAVA_PROPERTIES=$(THOTDIR)/config/java.properties

[thot]
THOTSYSSCH=$(THOTDIR)/schemas:$(THOTDIR)/amaya:$(THOTDIR)/annotlib
THOTDOC=$(THOTDIR)/doceditor
HelpDocument=Thotman-E
RESDYN=YES
LANG=en

[amaya]
HOME_PAGE=
ENABLE_CACHE=Yes
THOTSYSSCH=$(THOTDIR)/amaya:$(THOTDIR)/annotlib
LANG=en_US
# AMAYA_PLUGIN_DIR=$(THOTDIR)/plugintest/$(MACHINE)
AMAYA_APPLET_DIR=$(THOTDIR)/classes/org/w3c/amaya/applets
# URL of your HTTP proxy server  (server.address:port :port is optional)
# ex: HTTP_PROXY=http://www.imag.fr:3128
HTTP_PROXY=
# NO_PROXY: domain address which shouldn't be proxyfied 
# ex: NO_PROXY=harpo.marx.edu)
NO_PROXY=
ENABLE_LOST_UPDATE_CHECK=Yes
PERSIST_CX_TIMEOUT=600
SAFE_PUT_REDIRECT=
Profiles_File=amaya.profiles
Profile=editor

[alliance]
THOTSYSSCH=$(THOTDIR)/schemas:$(THOTDIR)/schemasOPERA:$(THOTDIR)/alliance/schemas:$(THOTDIR)/alliance/icons:$(THOTDIR)/alliance/manuals
LANG=en_US

[byzance]
THOTSYSSCH=$(THOTDIR)/schemas:$(THOTDIR)/schemasOPERA:$(THOTDIR)/alliance/schemas:$(THOTDIR)/alliance/icons:$(THOTDIR)/alliance/manuals
LANG=en_US

[annotations]
ANNBASE=$(THOTDIR)/misc/annotations/documents/base
PERSOANNDIR=$(THOTDIR)/misc/annotations/documents
THOTSYSSCH=$(THOTDIR)/schemas:$(THOTDIR)/schemasOPERA:$(THOTDIR)/misc/annotations/schemas
