[thot_lib]
THOTSYSSCH=$(THOTDIR)\amaya;$(THOTDIR)\annotlib
DICOPAR=$(THOTDIR)\dicopar
ENABLE_GRAPH_ANTI_ALIASING=yes

[amaya]
THOTSYSSCH=$(THOTDIR)\amaya;$(THOTDIR)\annotlib
LANG=en
HOME_PAGE=
ENABLE_MULTIKEY=no
# URL of your HTTP proxy server  (server.address:port :port is optional)
# ex: HTTP_PROXY=http://www.imag.fr:3128
HTTP_PROXY=
# NO_PROXY: domain address which shouldn't be proxyfied 
# ex: NO_PROXY=harpo.marx.edu)
NO_PROXY=
ENABLE_PIPELINING=
Profiles_File=amaya.profiles
Profile=Editor
ACCESSKEY_MOD=Alt
SHOW_ADDRESS=Yes
SHOW_BUTTONS=Yes
AUTO_SAVE=50
SAVE_GEOMETRY=Yes
GTM_TIME=No
ISO_DATE=Yes
DOCUMENT_CHARSET=iso-8859-1
SHOW_SPECIAL_CHARS=yes
FONT_ALIASING=yes
BUF_SIZE_SOCKET=130
