/* Style sheet for Amaya User's Manual */

  body {
    font-family: helvetica, arial, sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    background-color: #f2f3eb;
    color: black;
    }

  div.PageHead {
    font-size: 20pt;
    background-color: #3d3766;
    color: white;
    padding: .2em 0 .2em 1.1em;
    }

  p.nav {
    position: absolute;
    top: .2em;
    right: 1em;
    display: block;
    margin: 0;
    }

  .logo {
    vertical-align: bottom;
    margin-left: 10px;
    }

  div#page_body, div.PageBody {
    color: #000000;
    background-color: #f2f3eb;
    padding: 0 2em 12em 2em;
    font-size: 11pt;
    }

  small {
    font-size: 0.92em;
    }

  img {
    border: 0
    }

  kbd {
    color: rgb(160, 32, 240);
    font-style: italic;
    }

  code {
    color: #8c2323;
    }

  pre {
    font-family: monospace;
    }

  p.ProcedureCaption {
    margin: 1.5em 0em 0.5em 1em;
    font-size: 1em;
    color: teal;
    font-weight: 700;
    }

  p.Note, p.ProcedureNote {
    margin-top: .2em;
    margin-bottom: .2em;
    border-top: thin solid;
    border-bottom: thin solid;
    }

  h1 {
    font-family: Tahoma,Verdana,Myriad Web,Syntax,sans-serif;
    font-size-adjust: 0.53;
    font-size: 1.85em;
    font-weight: 500;
    }

  h2 {
    font-family: Tahoma,Verdana,Myriad Web,Syntax,sans-serif;
    font-size-adjust: 0.53;
    font-size: 1.67em;
    font-weight: 600;
    }

  h3 {
    font-family: Tahoma,Verdana,Myriad Web,Syntax,sans-serif;
    font-size-adjust: 0.53;
    font-size: 1.5em;
    font-weight: 600;
    }

  h4 {
    font-family: Tahoma,Verdana,Myriad Web,Syntax,sans-serif;
    font-size-adjust: 0.53;
    font-size: 1.33em;
    font-weight: 600;
    }

  h5, dt {
    font-family: Tahoma,Verdana,Myriad Web,Syntax,sans-serif;
    font-size-adjust: 0.53;
    font-size: 1.17em;
    font-weight: 600;
    }

  h6 {
    font-family: Tahoma,Verdana,Myriad Web,Syntax,sans-serif;
    font-size-adjust: 0.53;
    font-size: 1em;
    font-weight: 700;
    }

  h1, h2, h3, h4, h5, h6, dt, th {
    color: rgb(0, 51, 102);
    }

  hr {
    border-bottom: thin solid Black;
    color: rgb(0, 51, 102);
    width: 100%;
    height: 1px;
    }

  em, i {
    font-style: italic;
    }

  strong, b {
    font-weight: bold;
    }

  del {
    background: rgb(255, 102, 102);
    text-decoration: line-through;
    }

  ins {
    background: yellow;
    text-decoration: none;
    }

  var, cite, dfn {
    font-style: italic;
    }

  address {
    font-style: normal;
    letter-spacing: 0.1em;
    }

  a:link {
    text-decoration: none;
    color: rgb(255, 51, 0);
    }

  a:visited {
    text-decoration: none;
    color: rgb(153, 153, 102);
    }

  a:active {
    background: rgb(255, 255, 0);
    text-decoration: none;
    color: rgb(255, 51, 0);
    }

  a:hover {
    background: white;
    text-decoration: none;
    color: rgb(255, 51, 0);
    }

  div > p:first-child, body > p:first-child, td > p:first-child {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    }

  h1 {
    margin-top: 1.67em;
    margin-bottom: 0.33em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  h2 {
    margin-top: 1.67em;
    margin-bottom: 0.33em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.33em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  h4 {
    margin-top: 1.33em;
    margin-bottom: 0.33em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  h5 {
    margin-top: 1.17em;
    margin-bottom: 0.33em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  h6 {
    margin-top: 1em;
    margin-bottom: 0.33em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  ul, ol, dl, p, pre, hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  li, dt, div {
    margin-top: 0pt;
    margin-bottom: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  dd ol, dd ul {
    margin-left: 0pt;
    }

  address {
    margin-top: 1.58em;
    margin-bottom: 1.58em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  pre {
    line-height: 1.25em;
    }

  dd {
    margin-top: 0pt;
    margin-bottom: 0.75em;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  ul ul, ol ol, li address, li dl, li ul, li ol, li p, li hr, li pre, dd ol, dd p, dd ul, dd pre {
    margin-bottom: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    }

  td, th {
    line-height: 1.33em;
    }

  table, td, th, caption {
    text-align: left;
    }

/* page layout and style for printing */
@media print {
    @page {
      margin: 23mm;
      border-top: thin solid black;
      border-bottom: thin solid black;
      padding: 6mm 0 4mm;
      size: a4;
      font: 11pt serif; 
      }
    @page :left {
      @top-left {
        content: string(headerleft);
        font-style: italic;
        font-size: 11pt;
        vertical-align: bottom;
        margin: 0.3em 0;
        }
      @bottom-left {
        content: counter(page);
        font-size: 11pt;
        vertical-align: top;
        margin: 0.3em 0;
        }
      }
    @page :right {
      @top-right { 
        content: string(headerright);
        font-style: italic;
        font-size: 11pt;
        vertical-align: bottom;
        margin: 0.3em 0;
        }
      @bottom-right {
        content: counter(page);
        font-size: 11pt;
        vertical-align: top;
        margin: 0.3em 0;
        }
      }

    html {
      margin: 0; padding: 0;
      }
    body {
      font: 11pt serif;
      background-color: transparent;
      }
    div.PageHead {
      string-set: headerleft content();
      background-color: transparent;
      color: black;
      font-family: sans-serif;      
      font-style: italic;
      font-weight: 600;
      padding: 0 0 1em 0;
      border-bottom: thin solid black;
      }
    p.nav, .logo {
      display: none;
      }
    div#page_body, div.PageBody {
      background-color: transparent;
      padding: 0;
      }
    h2 {
      string-set: headerright content();
      }
    table {
      border-collapse: collapse;
      empty-cells: show;
      border: 1px solid black;
      }
    td, th {
      border: 1px solid black;
      padding: 0.1em 0.3em 0.1em 0.3em;
      }
    pre, tt, code {
      font-size: 85%;
      color: black;
      font-family: "Bitstream Vera Sans Mono", "Lucida Console", monospace;
      }
    kbd {
      font-size: 85%;
      color: black;
      font-family: "Bitstream Vera Sans Mono", "Lucida Console", monospace;
      }
    p.ProcedureCaption {
      margin: .8em 0em 0.3em 0em;
      color: black;
      font-weight: 700;
      }
    h1 {
      font-size: 1.67em;
      font-weight: 600;
      }
    h2 {
      font-size: 1.5em;
      font-weight: 600;
      }
    h3 {
      font-size: 1.33em;
      font-weight: 600;
      }
    h4 {
      font-size: 1.17em;
      font-weight: 600;
      }
    h5, dt{
      font-size: 1em;
      font-weight: 700;
      }
    h6 {
      font-size: 1em;
      font-weight: 600;
      }
    h1, h2, h3, h4, h5, h6 {
      font-family: sans-serif;      
      }
    h1, h2, h3, h4, h5, h6, dt, th {
      color: black;
      }
    hr {
      color: black;
      }
    a:link {
      text-decoration: underline;
      color: black;
      }
    a:visited {
      text-decoration: underline;
      color: black;
      }
    div > p:first-child, body > p:first-child, td > p:first-child {
      margin-top: 0.37em;
      margin-bottom: 0.37em;
      } 
    h1 {
      margin-top: 0.83em;
      margin-bottom: 0.17em;
      }
    h2 {
      margin-top: 0.83em;
      margin-bottom: 0.17em;
      }
    h3 {
      margin-top: 0.75em;
      margin-bottom: 0.17em;
      }
    h4 {
      margin-top: 0.62em;
      margin-bottom: 0.17em;
      }
    h5 {
      margin-top: 0.59em;
      margin-bottom: 0.17em;
     }
    h6 {
      margin-top: 0.5em;
      margin-bottom: 0.17em;
      }
    address {
      margin-top: 0.79em;
      margin-bottom: 0.79em;
      }

} /* end  @media print */
